<html>
<head>
<title>Team Sparx</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>

<div class="d-flex flex-column">
	

	<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#download-report">Download Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#demo">Abstract</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:5000/APINews">API News</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg');
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3" style="font-family: 'Times New Roman', Times, serif;">TEAM SPARX </h1><br> <h4>Multi-Modal Fake News Classifier</h4> 
          <h5 class="mb-3 " >The problem is about “STANCE detection,” which involves comparing a headline with a body of text from a news article to determine what relationship <br>(if any) exists between the two.</h5>
          <a class="btn btn-outline-light btn-lg" href="#predict" role="button"
            >Start Prediction</a>
		  <a class="btn btn-outline-light btn-lg" href="#demo" role="button"
            >Abstract</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image
  

  -->
  <br><br>
<div class="row container" style="padding:20px;"> 
<div class ="col-sm-8 container">
<h2 class="float-left text-left" id="demo" style="font-family: 'Times New Roman', Times, serif;">Abstract:</h2><br><br>
<p class="float text-justify" style="font-family: Arial, Helvetica, sans-serif;">Society and individuals are negatively influenced both politically and socially by the
widespread increase of fake news either way generated by humans or machines. In the
era of social networks, the quick rotation of news makes it challenging to evaluate its
reliability promptly. Therefore, automated fake news detection tools have become a
crucial requirement. To address the aforementioned issue, a hybrid Neural Network
architecture, that combines the capabilities of CNN and LSTM, is used with two
different dimensionality reduction approaches, Principle Component Analysis (PCA)
and Chi-Square.We will use dataset from the Fake News Challenges (FNC) website
which has four types of stances: agree, disagree, discuss, and unrelated. The
motivation of this research is to determine the relative stance of a news article towards
its headline.<p>
 
<a type="button" href="/static/ppt/FNC1.pptx" id="download-report" class="btn btn-outline-primary float">Download Report</a>
</div> 
<div class="col-sm-4 slide_container container">
<section>
	<iframe class="slide" src="https://onedrive.live.com/embed?cid=9A245384B7CEEE99&amp;resid=9A245384B7CEEE99%2141481&amp;authkey=APcQo1c5UnV9bws&amp;em=2&amp;wdAr=1.7777777777777777" width="610px" height="367px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
</section>
</div>
</div>
	<br><hr><br>
	<div id ="predict">
		<h1 style="font-family: 'Times New Roman', Times, serif;">Let's Predict.....</h1>
	</div>
	
	
	<div class="container" >
		<form action = "http://localhost:5000/predict" method = "post">
			<div class="form-group">
				<label class = " float-left text-left"><strong>Headline</strong></label>
				<input type = "text" name = "head" class="form-control" placeholder="Enter Headline"/>
			</div>
			<div>
				<label class="float-left text-left"><strong>Article</strong></label>
				<textarea id="body" name="body" rows="4" cols="50" class="form-control" placeholder="Enter Headline"></textarea>
			</div>
			<div>
				<br>
				<input type = "submit" value = "Submit" class="btn btn-primary form-control" />
			</div>
		  </form>
	</div>
    <div class="container">
    <table class="table">
        <tr class="table__header">
            {% for heading in head %}
                <th class="table__cell">{{heading}}</th>
            {% endfor %}
        </tr>
        
        {% for row in body %}
            <tr class="table__row">
            {% for cell in row %}
                <td class="table__cell">{{cell}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
	</div>
</div>
</body>
</html>